hr

div.footer
  span.
    <span>by </span>
    <a href="https://www.facebook.com/jesselchen" target="_blank">jesse chen</a>
  div.pull-right
    div.fb-like(data-href="http://fbximporter.jessechen.net/", data-send="false", data-layout="button_count", data-width="450", data-show-faces="true", data-font="arial")