hr

div.footer
  span.
    <span>by </span>
    <a href="http://jessechen.net/" target="_blank">jesse chen</a>
  div.pull-right
    div.fb-like(data-href="http://xanga.meltedxice.c9.io/", data-send="false", data-layout="button_count", data-width="450", data-show-faces="true", data-font="arial")