doctype
html(lang="en")
  head
    include includes/head
    link(rel='stylesheet', href='/css/index.css')

  body
    div.container-narrow
      include includes/header

      div.jumbotron
        h1 Xanga &#9658; Facebook
        p.lead Import your Xanga blog posts into Facebook before Xanga shuts down
        a(href='/auth/facebook')#login

      hr

      div.row-fluid.marketing
        div.span6
          h4 Subheading
          p LALALLALALALAL

          h4 Subheading 2
          p I PLAY BASKETBALL

          h4 SUBHEADING 3
          p DONT YOU LIE

        div.span6
          h4 Subheading 4
          p DONT YOU WORRY BABY

          h4 Subheading 5
          p CHILD IT IS WITH ME

          h4 Subheading 6
          p TROLOLOL

      include includes/footer