.console {
  height: 300px;
  overflow-y: scroll;
}

.error_response {
  color: red;
}

.fb_share_wrap {
  height: 75px;
}

.fb_share_img {
  transition: .2s;
}

.fb_share_img:hover {
  margin-top: 4px;
}

.success {
  margin-left: 12px;
}